div.react-calendar {
  width: 100%;
}

button.react-calendar__tile {
  height: 5em;
  align-items: center;
  flex-direction: column;
}

button.react-calendar__month-view__days__day--weekend--sat abbr {
  color: #0075c2;
}
