// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

// Mypage Style
@import './mypage';

// Carendar Component Style
@import './calendar';

html {
  height: 100%;
}

body {
  height: 100%;
}

div#app {
  height: 100%;
  background-image: url("/images/dot-grid.png");
  // background-color: whitesmoke;
}
